<p id="notice"><%= notice %></p>

<h1>Critical Levels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Frecuency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @critical_levels.each do |critical_level| %>
      <tr>
        <td><%= critical_level.name %></td>
        <td><%= critical_level.frecuency %></td>
        <td><%= link_to 'Show', critical_level %></td>
        <td><%= link_to 'Edit', edit_critical_level_path(critical_level) %></td>
        <td><%= link_to 'Destroy', critical_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critical Level', new_critical_level_path %>
