<h1>REPORT</h1>
<h3>Facility: <%= @facility.name %></h3>
<h3>Area: <%= @area.name %></h3>
<h3>Device: <%= @device.name %></h3>
<h3>Device type: <%= @device_type.name %></h3>
<h4>Procedimiento: <%= @device_type.protocol %></h3>