<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @facility.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @facility.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @facility.lng %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @facility.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @facility.contact_phone %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
