<div class="column is-one-fifth">
  <aside class="menu mt-4">
    
    <p class="menu-label">
      Reports
    </p>
    <ul class="menu-list">
      <li><%= link_to "New Maintenance", new_maintenance_report_path %></li>
      <li><%= link_to "Save Maintenance", new_maintenance_path %></li>
    </ul>
    <p class="menu-label">
      Admin
    </p>
    <ul class="menu-list">
      <li><%= link_to "Facilities", facilities_path %></li>
      <li><%= link_to "Areas", areas_path %></li>
      <li><%= link_to "Maintainers", maintainers_path %></li>
      <li><%= link_to "Maintenances", maintenances_path %></li>
      <li><%= link_to "CriticalLevels", critical_levels_path %></li>
      <li><%= link_to "DeviceTypes", device_types_path %></li>
      <li><%= link_to "Devices", devices_path %></li>
      <li><%= link_to "Users", users_path %></li>
    </ul>
  </aside>
</div>