<!DOCTYPE html>
<html>
  <head>
    <title>BioMaintenance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <aside class="menu">
            <p class="menu-label">
              Navigation
            </p>
            <ul class="menu-list">
              <li><%= link_to "Facilities", facilities_path %></li>
              <li><%= link_to "Areas", areas_path %></li>
              <li><%= link_to "Maintainers", maintainers_path %></li>
              <li><%= link_to "Maintenances", maintenances_path %></li>
              <li><%= link_to "CriticalLevels", critical_levels_path %></li>
              <li><%= link_to "DeviceTypes", device_types_path %></li>
              <li><%= link_to "Devices", devices_path %></li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
