<!DOCTYPE html>
<html>
  <head>
    <title>BioMaintenance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    
  </head>

  <body>
    <% if cookies[:visitor_password_verified] %>
      <%= render 'layouts/topbar' %>
    <% end %>
    <div class="container is-fullhd p-4">
      <div class="columns">
      <% if cookies[:visitor_password_verified] %>
        <%= render 'layouts/navigation' %>
      <% end %>
        <div class="column" id="react">
          <%= yield %>
        </div>
      </div>
    </div>
    <% if cookies[:visitor_password_verified] %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
