<!DOCTYPE html>
<html>
  <head>
    <title>BioMaintenance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="columns">
        <%= render 'layouts/navigation' %>
        <div class="column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
